/* CSS Stylesheet for the Boot network */

html {
    font-family: sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100%;

}

#login {

    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#login form * {
    width: 300px;
    margin: auto;
}

#login form button {
    margin-top: 20px;
}

#login form p {
    text-align: center;
    margin-top: 15px;
}



#login img {
    width: 400px;
}

#newsfeed {
    margin: 0 auto;
    max-width: 500px;
}

#follow-btn {
    text-align: center;
    padding: 20px;
}

#avatar {
    text-align: center;
}

#post {
    margin: 20px;
    padding: 10px;
}

#post img {
    float: left;
    width: 60px;
    background-color: white;
}

#post-pinned {
    margin: 20px;
    padding: 10px;
}

#post-pinned img {
    float: left;
    width: 60px;
}

h2 {
    text-align: center;
    margin: 20px;
}

h3 {
    font-size: 9px;
}

h4 {
    color: grey;
    font-size: 6px;
}

#delete {

    font-size: 20px;
}

@media all and (max-width: 450px) {
    #container {
        padding: 0;
    }
    #login form * {
        width: 100%;
    }
    #login img {
        width: 100%;
        padding: 0;
    }
}

#navigation {
  list-style: none;
  margin: 0;

  background: rgb(54,54,54);

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
  justify-content: flex-start;
}

#navigation a {
  text-decoration: none;
    text-align: center;
  display: flex;
  padding: 1em;
  color: white;
    justify-content: center;
  align-items: center;
}

#navigation a:hover {
  background: rgb(70,70,70);
}

#navigation img {
    width: 300px;
}

@media all and (max-width: 990px) {
  #navigation {
    justify-content: space-around;
  }
    #navigation img {
        width: 200px;
    }
}

@media all and (max-width: 621px) {
  #navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  #navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

    #navigation img {
        width: 170px;
    }


  #navigation li:last-of-type a {
    border-bottom: none;
  }

  #newsfeed {
      background-color: rgb(200, 230, 250);
  }

  #post {
      background-color: white;
  }


}

@media all and (max-width: 400px) {
    #avatar img {
      width: 100%;
  }
}

